<div class="flex flex-col md:flex-row w-full h-full min-h-screen mx-auto p-6 bg-white shadow-lg rounded-lg">
    <div class="md:w-1/2 flex items-center justify-center mb-4 md:mb-0">
        <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?cs=srgb&dl=pexels-anjana-c-169994-674010.jpg&fm=jpg"
            alt="Profile Picture" class=" object-cover border-4 border-gray-300">
    </div>
    <div class="md:w-1/2 md:pl-6">
        <h1 class="text-3xl font-bold text-gray-800">Experienced Web Developer.</h1>
        <p class="mt-4 text-gray-600">
            Hi there! 👋 I'm Ayush Patel, a passionate Web and Mobile Developer with 3.10 years of experience
            specializing in Angular, Bootstrap, Tailwind CSS, Node.js, and React.js. I thrive on turning complex
            challenges into user-friendly and effective solutions across diverse industries. With a keen eye for detail
            and a commitment to staying up-to-date with the latest tech trends, I excel in designing, developing, and
            testing applications that not only meet but exceed client expectations.
        </p>
        <p class="mt-4 text-gray-600">
            Currently, I’m contributing to innovative projects as a Developer. I am dedicated to creating intuitive and
            impactful digital experiences and am always eager to collaborate on exciting new ventures. If you're
            interested in working together or just want to chat about technology, feel free to <a
                href="mailto:your-email@example.com" class="text-blue-500 underline">reach out via email</a>, <a
                href="#" class="text-blue-500 underline">drop me a message</a>, or connect through my social links
            below.
        </p>
        <div class="flex space-x-4 mt-4">
            <a href="https://www.linkedin.com/feed/" target="_blank" aria-label="LinkedIn"><img
                    src="https://i.pinimg.com/474x/e9/28/32/e92832c31191b55137f720580f26804f.jpg" class="w-6 h-6"></a>
            <a href="https://github.com/" target="_blank" aria-label="GitHub"><img
                    src="https://img.icons8.com/?size=512&id=44900&format=png" class="w-6 h-6"></a>
            <a href="https://mail.google.com/mail/" target="_blank" aria-label="Email"><img
                    src="https://www.freeiconspng.com/thumbs/email-icon/email-icon--clipart-best-22.png"
                    class="w-6 h-6"></a>
            <a href="https://www.upwork.com/" target="_blank" aria-label="Upwork"><img
                    src="https://img.favpng.com/14/2/19/upwork-computer-icons-freelancer-png-favpng-ATNdH9uZ3NFyjEyEpspAGw4Hi_t.jpg"
                    class="w-6 h-6"></a>
            <a href="https://www.whatsapp.com/" target="_blank" aria-label="WhatsApp"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa3wOACfONoTp_0CodFrmznbL18nfjuNt_aw&s"
                    class="w-6 h-6"></a>
            <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram"><img
                    src="https://i.pinimg.com/736x/7f/7b/87/7f7b872e56430e68d69538b17525c51c.jpg" class="w-6 h-6"></a>
        </div>
        <!-- <button (click)="aboutMe()"
            class="cursor-pointer mt-6 px-4 py-2 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 transition duration-200">
            Read More >>
        </button> -->
        <button (click)="aboutMe()"
            class="cursor-pointer mt-6 px-4 py-2 bg-blue-600 text-white font-semibold rounded bg-blue-600 button-animation hover:bg-blue-700">
            Read More >>
        </button>


    </div>